body {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
    color: #ff6348;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background: #2f3542;
    color: #ffffff;
}


/************************
**        LOGIN
************************/
.login-body {
    background: url(../img/concrete.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form-wrapper {
    max-width: 380px;
    margin: 0 auto;
    background: #718093ab;
    position: relative;
    top: 70px;
    padding: 80px;
    text-align: center;
}

.image-header img {
    width: 20%;
    margin: 15px;
}

.form-signin-heading {
    font-size: 20px;
}

.form-wrapper
input[type=text],
input[type=password] {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
}


.btn-form {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

/************************
**        INDEX
************************/
.main-page {
    background: #ced6e0;
}

.main-form
input[type=text],
.btn-main {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
}

.table-set {
    max-width: 500px;
    margin: 0 auto;
}

.add-log {
    text-align: center;
}

.add-log img {
    width: 50px;
    margin-left: 20px;
}

.table-scroll {
    height: 420px;
    overflow: scroll;
    padding-top: 15px;
}

tbody img {
    width: 50px;
}


/************************
**        ADD
************************/
.form-wrapper label {
    display: inline-block;
    padding: 15px;
}

.form-wrapper
.btn-add {
    display: block;
    margin: 0 auto;
}

.btn-add img {
    width: 60px;
}

.wrapper a img {
    width: 60px;
}

/************************
**        DETAILS
************************/

.btn-details {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}

.gender-type {
    background: #57606f;
    color: #f1f2f6;
    padding: 5px;
}



/* PHP Message */
.message {
    width: 100%;
    padding: 1rem;
}

.message.warning {
    background: #e9e77f;
    border-left: 6px solid #ceca09;
    color: #817f05;
}


.message.admin {
    background: #e9e77f;
    border-left: 6px solid #ffffee;
    color: #056881;
}